/* dark color : #011638 */
/* light color : #0D21A1 */
/* text color : #EEC643 */

.featured-title {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}


.featured-title a   {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 30px;
    overflow: hidden;
    transition: 0.2s;
}



.featured-title a:hover   {
    color: #ffffff;
    background: #0D21A1;
    box-shadow: 0 0 10px #0D21A1, 0 0 40px #0D21A1, 0 0 80px #0D21A1;
    transition-delay: 1s;
}


.featured-title a  span {
    position: absolute;
    display: block;
}




.featured-title a   span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #0D21A1);
}



.featured-title a:hover   span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


.featured-title a  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #0D21A1);
}

.featured-title a:hover   span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



.featured-title a  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #0D21A1);
}

.featured-title a:hover   span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



.featured-title a  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #0D21A1);
}

.featured-title a:hover   span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/* @media all and (min-width: 425px) and (max-width: 768px) {

    .featured-title a {
        
        padding: 5px 15px;
        font-size: 20px;
    }

}

@media all and (min-width: 376px) and (max-width: 425px) {


}

@media all and (min-width: 320px) and (max-width: 375px) {


} */